<div class="cd-new-ap" *ngFor="let item of new_applicant">
    <div class="row">
        <div class="col-8">
            <div class="cd-candidate-contact">
                <div class="row">
                    <div class="col-3">
                        <img src="./assets/images/man-avatar-profile.jpg" alt="candidate">
                    </div>
                    <div class="col-9">
                        <p style="font-size:13px; margin: 0;">{{item}}</p>
                        <p>Applicant <span>New Metts</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="cd-application-action">
                <div class="row">
                    <div class="col-6"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                    <div class="col-6"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>