<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="main-container">
        <div class="page-not-found_container">
            <h1>404 <span>Error</span> </h1>
            <p>Page does not exist! Unless you were looking for this error page, In which case you find it!</p>
        <h2 >Portfolio.com</h2>
        </div>
    </div>
</body>
</html>
