<div class="ref-cd">
    <div class="row">
        <div class="col-6">
            <div class="cd-ref-name">
                <p>User's Reached</p>
                <span><i class="fa fa-arrow-up" aria-hidden="true"></i> +{{referaldata.users_percent}}%</span>
                <p>{{referaldata.users}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="cd-ref-name">
                <p>Referal</p>
                <span><i class="fa fa-arrow-up" aria-hidden="true"></i> +{{referaldata.referalno_percent}}%</span>
                <p>{{referaldata.referalno}}</p>
            </div>
        </div>
        <div class="col-12 text-center" style="margin-top: 20px;">
            <button class="btn {{referaldata.color}}">Sign in New Compaings</button>
        </div>
    </div>
</div>
