
.cd-t-appli {
    margin-bottom: 16px;
}
.cd-t-appli span, .cd-t-appli .fa-circle {
    font-size: 9px;
}
.progress {
    background-color: gray;
}
.progress-bar {
    width: 0;
    -webkit-animation: progress 1.5s ease-in-out forwards;
            animation: progress 1.5s ease-in-out forwards;
  }
  .progress-bar .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
            animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @-webkit-keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @-webkit-keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }